@use "./colors" as *;
@use "./typhography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-white;
  font-family: $titles-font;
  position: relative;
}

.container {
  max-width: 107rem;
  margin: 0 auto;
  padding: 0 4rem;
}
